*{
    margin: 10px;
    padding: 0;
}
.container{
    height: 600px;
    border: 1px solid rgb(255, 132, 0);
}
#me{
    width: 16rem;
    height: 10rem;
    float: right;
}
#s{
    width: 16rem;
    height: 9rem;
    float: left;
}