*{
    margin: 5px;
    padding: 0;
}
.container{
    background-color: white;
    border: 3px solid black;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    align-content: center; /* manages and distributs the space (row and column) around the content */
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 4px;
    padding: 3px;
}
#b1{
    background-color: bisque;
}
#b2{
    background-color: blueviolet;
}
#b3{
    background-color: blue;
}
#b4{
    background-color: aqua;
}