*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.resPara{
    color: rgb(249, 4, 102);
    padding: 18px;
    text-wrap: wrap;
}
.resHeading{
    color: white;
    position: relative;
}
.resHeading::before{
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, red, purple);
    transition: all 0.4s ease-out;
}
.resHeading:hover::before{
    width: 70%;
}
img{
    height: 200px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #535353;
    transition: all 300ms ease-out;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: none;
}
.navContainer{
    width: 100vw;
    height: 70px;
    background-color: rgb(228, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navList{
    width: 100vw;
    list-style-type: none;
    font-size: 2.8rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.navItems{
    display: flex;
    gap: 40px;
}
#webLogo{
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
}
.resItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    width: 900px;
    height: 2000px;
    background-color: #ffabbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}
.info{
    width: 400px;
    height: 300px;
    overflow: scroll;
}
.res1{
    width: 800px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
}
.res2{
    width: 800px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.res3{
    width: 800px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.res4{
    width: 800px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
img:hover{
    scale: 1.15;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e4aeff;
    /* position:fixed;
    bottom: 0px; */
}
#footer{
    font-size: 2rem;
}