*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.resPara{
    color: rgb(249, 4, 102);
    padding: 18px;
    text-wrap: wrap;
}
.resHeading{
    color: #ffffff;
    padding: 0px 10px;
}
img{
    height: 15rem;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #f9f871;
    transition: all 200ms;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: none;
}
.navContainer{
    width: 100vw;
    height: 70px;
    background-color: rgb(228, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navList{
    width: 100vw;
    list-style-type: none;
    font-size: 2.8rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.navItems{
    display: flex;
    gap: 40px;
}
#webLogo{
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
}
.items{
    width: 1300px;
    background-color: #ffabbc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}
.info{
    width: 800px;
    height: 300px;
    overflow: scroll;
}
.res1{
    width: 1200px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.res2{
    width: 1200px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.res3{
    width: 1200px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.res4{
    width: 1200px;
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
img:hover{
    scale: 1.15;
}