*{
    margin: 5px;
    padding: 0;
}
.container{
    background-color: aqua;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    width: 400px;
    border: 3px solid black;
}
.box{
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
@media (max-width: 640px){
    .container{
        flex-direction: column;
    }
}
@media (min-width: 640px){
    .container{
        flex-direction: row;
    }
}