*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:20px;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
}
.container{
    display: grid;
}