*{
    margin: 10x;
    padding: 0;
}
body{
    background-color: rgb(194, 194, 252);
}
.box{
    border: 1px solid black;
    background-color: aqua;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    transform: rotate(-45deg);
    transform: scale(1.5);
    transform: skew(30deg);
    /* transform: translate(100px, -100px); */
}