*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.info{
    height: 400px;
    width: 400px;
    background-color: #450944;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.heading{
    padding: 35px;
    color: white;
}
.para{
    color: white;
    padding: 0px 35px 0 35px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 45px;
}
.container::before{
    content: "";
    height:100%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.266);
    transition: all 1s ease-out;
}
.container:hover::before{
    width: 0;
}